#footer {
	min-height: 150px;
    position: relative;
    zoom: 1;
    z-index: 50;
}

.line {
	background: #3aa51a;
	padding: 10px 0 1px;
}

.line_inner {
	padding: 0 10px;
    max-width: 1000px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0 auto;
}

.bottom_main_menu {
	width: 79%;
    vertical-align: top;
}

.bottom_main_menu li {
	display: inline-block;
    width: 24%;
    list-style: none;
}

.bottom_main_menu li > a {
	color: #fff!important;
    text-shadow: 0 1px 0px rgba(0,0,0,.2);
    -moz-text-shadow: 0 1px 0px rgba(0,0,0,.2);
    -o-text-shadow: 0 1px 0px rgba(0,0,0,.2);
    -webkit-text-shadow: 0 1px 0px rgba(0,0,0,.2);
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Electra Font", Arial, Helvetica, sans-serif;
    font-size: 12px;
}


.footer_phone {
    margin-top: -30px;
    color: white;
}

.footer_phone:before{
	background: #fff url('../img/phone_icon.png') no-repeat -1px -24px!important;
	background-position: -1px -24px;
}

.sub-footer {
	max-width: 980px;
	margin: 0 auto;
	padding: 14px;
}

.copyright {
	font-size: 12px;
	float: left;
	margin-right: 45px;
}

.submenu {
	margin-right: 60px;
	float: left;
	font-size: 12px;
}

.submenu li {
	list-style: none;
}

.submenu li > a {
	color: grey;
	text-decoration: underline;
}

.submenu li > a:active {
	color: #3aa51a;
}