.before_head {
	width: 100%;
	background: #1E3042;
	border: #1E3042 solid 1px;
	height: 40px;
}

.before_head_inner {
	margin: 0px auto;
    width: 940px;
    padding: 10px 0;
    text-align: center;
}

.before_head_inner_text span {
	font-weight: bold;
    color: #fff;
    letter-spacing: 1px;
    margin-right: 35px;	
}

.before_head_inner_text a {
	text-shadow: none;
    letter-spacing: 1px;
    margin-right: 65px;
    color: #D35400;
}

.inform_line {
	background: #f0f0f0 url("../img/inform_line_paling.png") bottom left repeat-x;
	overflow: hidden;
    height: 38px;
    left: 0;
    right: 0;
}

.inform_line_text {
	width: 100%;
	max-width: 980px;
	margin: 0 auto;
	padding: 10px;
	font-size: 13px;
}

.inform_line_menu {
	padding-left: 20px;
    position: relative;
    zoom: 1;
    text-align: center;
    list-style-type: none;
    float: left;
}

.inform_line_menu li a:hover {
	color: #3aa51a;	
}

.inform_line_menu li a {
	color: #919191;
	text-decoration: underline;
}

.inform_line_menu li {
	display: block;
	float: left;
	color: #919191;
}

.separator {
    border-left: 1px dotted #c8c8c8;
    width: 0px;
    margin: 0 18px;
    display: inline-block;
    height: 15px;
    margin-top: 3px;
    background: url("../img/top_separator.png") top left no-repeat;
}

.logotype_area {
    margin: 0 auto;
    max-width: 980px;
    position: relative;
    zoom: 1;
}

#header {
    margin-bottom: 15px;
    padding-top: 20px;
    z-index: 100;
    padding-bottom: 20px;
    right: 0;
    left: 0;
    margin-top: -3px;
}

.wrapper_inner {
	padding: 0 10px;
    max-width: 1000px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0 auto;
}

.person_cabinet {
	color: #3aa51a;
	text-decoration: none;
    border-bottom: 1px dotted;
    float: left;
    margin-right: 80px;
}

.person_cabinet:hover {
	text-decoration: none;
}

.phone:before {
	content: '';
	display: block;
	float: left;
	width: 22px;
	height: 22px;
	background: url('../img/phone_icon.png') no-repeat -1px -1px, linear-gradient(#6b6b6b, #555);
	border-radius: 3px;
	margin: 1px 5px 2px 2px;

}

.phone {
	font-size: 19px;
    white-space: nowrap;
    font-family: "Electra Font", Arial, Helvetica, sans-serif;
    float: right;
    margin-top: -2px;
}

.catalogue_menu {
	z-index: 100;
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;
}

.menu {
	overflow: hidden;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    white-space: nowrap;
}

.menu_item_l1 > a{
	/*border-left: 1px solid #75c459;*/
	font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 20px;
    display: inline-block;
    height: 42px;
    line-height: 43px;
    font-family: "Electra Font", Arial, Helvetica, sans-serif;
    color: white!important;
}

.menu_item_l1 {
	list-style-type: none;
	display: block;
	float: left;
	border-right: 1px solid #1d6d0c;
	border-bottom: 1px solid #1d6d0c;
	background: #5ab934;
   /* background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #5ab934 1%, #258a0f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#5ab934), color-stop(100%,#258a0f));
    background: -webkit-linear-gradient(top, #5ab934 1%,#258a0f 100%);
    background: -o-linear-gradient(top, #5ab934 1%,#258a0f 100%);
    background: -ms-linear-gradient(top, #5ab934 1%,#258a0f 100%);
    background: linear-gradient(to bottom, #5ab934 1%,#258a0f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ab934', endColorstr='#258a0f',GradientType=0);*/
}

a.first-li {
    display: block;
    border-left: 0px solid black!important;
}

.menu_item_l1 > a:hover, .menu_item_l1 > a:active, .menu_item_l1 > a:focus {
    background: #4da02b!important;
    color: #f3ff8c!important;
    border-radius: 4px 0px 0px 4px!important;   
}

.search_field1 {
	padding: 3px;
	width: 200px;

}

.find_butt {
	padding: 5px;
}

.shopping_box {
	width: 140px;
}

.shopping_box_icon {
	display: block;
	width: 40px;
	height: 40px;
	background: #cecece;
	background: linear-gradient(#cdcaca, #cecece);
	border-radius: 3px;
	float: left;
	margin-right: 10px;
	color: grey;
	font-size: 26px;
	text-align: center;
	padding-top: 5px;
}

.price_text {
	color:grey;
	font-size: 12px;
}

.goods_text {
	color: black;
	text-decoration: underline;
}

.goods_text:hover {
	color: #3aa51a;
	text-decoration: none;
}