* {
	margin: 0px;
	padding: 0px;
	/*font-family: 'Roboto Regular', 'Calibri';*/
}

a {
	color: black;
	text-decoration: underline;
}

a:hover {
	color: #3aa51a;
}

.important_text {
	font-size: 18px!important;
	font-family: 'Roboto Regular';
	color: brown;
}

.no-paddings {
	padding: 0px!important;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('../fonts/century_gothic.ttf');
} 

@font-face {
    font-family: 'Elzevir';
    src: url('../fonts/Elzevir.ttf');
} 

@font-face {
    font-family: 'Amsterdam';
    src: url('../fonts/AMSTERDA.TTF');
} 

@font-face {
    font-family: 'Roboto Light';
    src: url('../fonts/RobotoLight.ttf');
} 

@font-face {
    font-family: 'Roboto Regular';
    src: url('../fonts/RobotoRegular.ttf');
} 

.thumbnail {
	padding: 0px!important;
}

.breadcrumb {
	background: none;
	margin-top: 10px;
	padding: 0px;
}

.breadcrumb li a {
	color: grey;
	font-family: 'Roboto Regular', 'Calibri';
	text-decoration: none;
}

.breadcrumb>li+li:before {
    padding: 0 5px;
    content: "\e080";
    font-family: 'Glyphicons Halflings';
    color: #585858;
    font-size: 12px;
}

.no-text-decoration {
	text-decoration: none!important;
}

.carousel-indicators li {
	border: 1px solid grey!important;
	padding: 5px;
	background: #F5F6CE;
}

.no-resize {
	resize: none;
	width: 270px!important;
}